@page "/"
    <div style="border:solid;border-color:blue;padding:5px;width:520px;height:520px;margin:100px;">
        <BlazorWheelZoom2.WheelZoom2 ImageUri="/mire.png" Width="500px" Height="500px" RectangleList="rectangles" />
        <button @onclick="()=>Test()">Test</button>
    </div>

@code
{
    List<BlazorSimpleSVG.SVGRectangle> rectangles = new List<BlazorSimpleSVG.SVGRectangle>();
    void Test()
    {
        rectangles.Add(new BlazorSimpleSVG.SVGRectangle() { rect = new BlazorSimpleSVG.rect(600, 600, 700, 700), scrollIntoView = true, fill="#FF0000" });
    }
}